* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 100px;
    background-color: #fff;
    text-align: center;
    height: 40px;
}

.active {
    font-size: 20px;
    color: red;
}